
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


h1{
    font-family: "Unbounded", serif;
    font-weight: 700;
}

table{
    font-family: "Jost", serif;
    font-weight: 400;
}

body{
    background: linear-gradient(to bottom, #aaaaaa, #000000); /* Abu-abu ke hitam */
    height: 100vh;
    margin: 0;
}
h1,td{
    color: black; /* Warna font hitam */
    text-shadow: 1px 1px 3px white, -1px -1px 3px white; /* Outline putih */
}
