
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


h1{
    font-family: "Unbounded", serif;
    font-weight: 700;
}

table{
    font-family: "Jost", serif;
    font-weight: 400;
}

body{
    background: linear-gradient(to bottom, #ffffff, #333333);
    height: 100vh; /* Agar gradient mencakup seluruh layar */
    margin: 0;
}
